/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* css - reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* CSS */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'lato';
  font-size: 10px;

}

/* navbar */
nav {
  background: white;
  height: 80px;
  width: 100%;
}

label.logo {
  color: #78c197;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  color: #78c197;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #78c197;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #78c197;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: white;
  }

  #check:checked~ul {
    left: 0;
  }
}


/* home/section1*/

.section1 {
  background: url(../img/books-header.jpeg) no-repeat center center / cover;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: white;
  padding: 5%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.section1 h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(119, 193, 151, 0.6);
  margin: 2rem;
  padding: 2rem;
  transform: skew(-1.5deg, 0deg);


}

.button {
  margin: 0.75rem;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.375rem 0.75rem;
  border: 2px solid #77c197;
  background-color: #77c197;
}

.go-button {
  margin: 0.75rem;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.375rem 0.75rem;
  border: 2px solid #77c197;
  background-color: #77c197;
  color: white;
}

.go-button:hover,
.go-button:active,
.go-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}


/* home/section2*/
.container-section2 {
  display: flex;
  flex-direction: column;
}

.yellowbooksimg img {
  width: 100%;
}

.text-section2 {
  font-size: 3em;
  padding: 0.4rem;
}

/*faQ*/

.container-faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question1,
.question3,
.question5 {
  padding: 1rem;
  border: 4px solid rgba(119, 193, 151, 0.2);
  margin: 0.5rem 0.5rem;
  border-radius: 0.9rem;
}

.question2,
.question4,
.question6 {
  border: 4px solid rgba(119, 193, 151, 0.6);
  padding: 1rem;
  margin: 0.5rem 0.5rem;
  border-radius: 0.9rem;
}

.question {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.answer {
  font-size: 1.2rem;
}

/*footer*/
footer {
  background-color: #77c197;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 150px;
  padding: 0.4em;
}

footer h3 {
  font-size: 3em;
  text-transform: uppercase;
  color: white;
  padding: 0.4em;
}

footer p {
  font-size: 1.5em;
  text-align: center;
  color: white;
}

/*singup and singin!*/

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form-wrapper {
  padding: 20px;
  background-color: white;
  border: 3px solid white;
  border-radius: 1.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.logoForm {
  width: 120px;
  margin-bottom: 10px;
}

.form-wrapper h2 {
  font-size: 2em;
  text-align: left;
  margin-bottom: 20px;
}

.form-wrapper p {
  font-size: 1.8em;
  text-align: left;
  margin: 5px 0px;
}

.form-wrapper>form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.form-wrapper>form>input {
  margin-bottom: 10px;
  width: 100%;
}

::placeholder {
  color: #a5a5a5;
  font-size: 1.5em;
}

.message-container {
  width: 100%;
  max-width: 800px;
}

.message-container p {
  background-color: var(--red-color);
  padding: 20px;
  margin: 10px 0;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px #feb1b1;
}

.message-container p.correct-message {
  background-color: rgb(47, 164, 93);
  box-shadow: 0 0 10px #dbf1c1;
}

.sign-button {
  margin: 0.75rem;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.375rem 0.75rem;
  border: 2px solid #77c197;
  background-color: white;
  color: #77c197;
}

.sign-button:hover,
.sign-button:active,
.sign-button:focus {
  color: #fff;
  background-color: #77c197;
}

.signup-form>input {
  border: 0;
}